# Ignore input data and results
data/
results/
rules/
scripts/

# Ignore Snakemake working directory
.snakemake/
sample_sheet.csv
sample_sheet_maker.py
config.yaml
Snakefile_old
dag.pdf

# Ignore conda envs if they ever appear here
envs/*.yaml~
.env/